<div class="conteiner">

    <div class="ui-g">

        <div class="ui-g-12">
            <h1>Listagem de Tarefas</h1>
        </div>

        <div class="ui-g-12" style="margin-top: 20px;">
            <label>Numero:</label>
            <br>
            <input type="text" pInputText style="width: 30%;">
        </div>

        <br>

        <div class="ui-g-12" style="margin-top: 20px;">
            <label >Titulo/Descrição:</label>
            <br>
            <input type="text" pInputText style="width: 70%;">
        </div>

    </div>

</div>