<div class="conteiner">

    <div class="ui-g">

        <div class="ui-g-12">
            <h1>Cadastrar Tarefa</h1>
        </div>

        <div class="ui-g-12" style="margin-top: 20px;">
            <label>Título:</label>
            <br>
            <input type="text" pInputText style="width: 80%;">
        </div>

        <div class="ui-g-12" style="margin-top: 20px;">
            <label>Descrição:</label>
            <br>
            <textarea type="text" pInputTextarea style="width: 80%;" ></textarea>
        </div>


    </div>

</div>
