<div class="conteiner">

    <div class="ui-g">

        <div class="ui-g-12">
            <h1>Cadastrar Tarefa</h1>
        </div>

        <div class="ui-g-12" style="margin-top: 20px;">
            <label>Título:</label>
            <br>
            <input type="text" pInputText style="width: 80%;">
        </div>

        <div class="ui-g-12" style="margin-top: 20px;">
            <label>Descrição:</label>
            <br>
            <textarea rows="5" cols="89" pInputTextarea></textarea>
        </div>

        <br>

        <div class="p-grid">

            <div class="p-col">
                <label style="margin-right: 20px;">Responsavel:</label>
                <input type="text" pInputText style="width: 48.5%;">
            </div>

            <div class="p-col">
               <label style="margin-right: 20px;">Prioridade:</label>
               <p-dropdown [options]="prioridades" [(ngModel)]="select" optionLabel="name"></p-dropdown>
            </div>

            <div class="p-col">
            </div>

        </div>

        <br>

        <div>
            <label style="margin-right: 20px;">Deadine:</label>
            <input matInput mask="00/00/0000"/>
        </div>

        <br>
        
        <div class="ui-g-12">

            <a pButton label="Cadastrar" style="width: 30%; margin-left: 325px;"></a>
    
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="ui-g-12">

            <a pButton label="Buscar Tarefas"></a>
    
        </div>


    </div>

</div>