<div class="conteiner">

    <div class="ui-g">

        <div class="ui-g-12">
            <h1> {{ editando ? 'Editar' : 'Casdastrar' }} Tarefa</h1>
        </div>

        <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f.value)">

            <div class="ui-g-12" style="margin-top: 20px;">
                <label>Título:</label>
                <br>
                <input type="text" pInputText [(ngModel)]="tarefa.titulo" name="titulo" style="width: 80%;">
            </div>

            <div class="ui-g-12" style="margin-top: 20px;">
                <label>Descrição:</label>
                <br>
                <textarea rows="5" cols="89" pInputTextarea [(ngModel)]="tarefa.descricao" name="descricao"></textarea>
            </div>

            <br>

            <div class="p-grid">

                <div class="p-col">
                    <label style="margin-right: 20px;">Responsavel:</label>
                    <input type="text" [(ngModel)]="tarefa.responsavel" pInputText name="responsavel"
                        style="width: 53%;">
                </div>

                <div class="p-col">
                    <label style="margin-right: 20px;">Prioridade:</label>
                    <p-dropdown [options]="prioridades" [(ngModel)]="select" optionLabel="name" name="prioridade">
                    </p-dropdown>
                </div>

                <div class="p-col">
                </div>

            </div>

            <br>

            <div>

                <label style="margin-right: 20px;">Deadline:</label>
                <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true"
                    [(ngModel)]="tarefa.deadline" name="deadline" ></p-calendar>

            </div>

            <br>

            <div class="ui-g-12">

                <button pButton label="Cadastrar" type="submit" style="width: 30%; margin-left: 325px;"></button>

            </div>

        </form>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="ui-g-12">

            <button routerLink="/listagem" pButton label="Buscar Tarefas"></button>

        </div>


    </div>

</div>