<nav class="navbar">

    <div class="conteiner">
  
      <div class="ui-g">
        <div class="ui-g-12" >
          <a href="javaScript:;" class="navbar-toggle" (click)="menu = !menu" >
            <i class="pi pi-align-justify" style="font-size: 23px" ></i>
          </a>
        </div>
      </div>
    </div>
  
    <ul class="navbar-menu" [hidden]="!menu">
      <li class="navbar-usuario">{{ service.jwtPayload?.user_name }}</li>
      <li class="navbar-menuitem"><a (click)="logout()" >Logout</a></li>
    </ul>
  
  
  </nav>